{{> local_estrategia_didactica/tabs }}

<div style="margin-bottom:22px;">
  <p col=3>
    <span id="nombre">Nombre Actividad:</span>
    <span>Lorem ipsum dolor sit amet</span>
  <p>
    <span>Descripcion:</span>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
  </p>
</div>
<!--{{> local_estrategia_didactica/prueba }}-->
<video
    style="width:100%;"
    id="my-player"
    class="video-js"
    controls
    height="300"
    preload="auto"
    data-setup='{"playbackRates": [1, 1.5, 2]}'>
    <source data-res="144" src="{{components.video.videourl}}" type="video/mp4" label='144'/>
    <track src="media/subs_en.vtt" srclang="en" label="English" kind="subtitles" type="text/vtt">
    <track src="media/subs_es.vtt" srclang="es" label="Spanish" kind="subtitles" type="text/vtt">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
</video>
<div id="transcript" style="margin-top:15px;width:49%;margin-right:2%;float:left;">
</div>
{{#js}}
var video = videojs('my-player');
var options = {
  showTitle: false,
  showTrackSelector: true,
};
var transcript = video.transcript(options);

video.ready(function() {
    $("div.vjs-control-bar").css("background-color","rgba(15, 39, 158, 0.82)");
    $("ul.vjs-menu-content").css("background-color","rgba(15, 39, 158, 0.82)");
    $(".vjs-control").css("color","#e0e0e0");
    $("div.vjs-play-progress").css("background-color","#fff");
    //$("div.video-js").css({"height":data.video.height,"width":data.video.width});
    // Initialize the plugin.
    var transcript = video.transcript(options);
    // Then attach the widget to the page.
    var transcriptContainer = document.querySelector('#transcript');
    transcriptContainer.appendChild(transcript.el());
});

{{/js}}
